diy_termostato_node_red.json
[{"id":"9eabd575.3747a","type":"tab","label":"Termostato Pro","disabled":false,"info":""},{"id":"98e223b5.e989c8","type":"ui_template","z":"9eabd575.3747a","group":"9bd2b4ed.27cfd","name":"css etc","order":10,"width":"0","height":"0","format":"<style>\n\n.cellGreen \n{\nbackground-color: #ffdddd !important;\n}\n\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n \n\n  \n.zui-table {\n    border: solid 1px #DDEEEE;\n    border-collapse: collapse;\n    border-spacing: 0;\n    font: normal 10px Arial, sans-serif;\n    outline: none;\n}\n.zui-table thead th {\n    width: 100%;\n    height:50%;\n    background-color: #99bbff;\n    border: solid 1px #DDEEEE;\n    color: #336B6B;\n    padding: 6px 3px 4px 3px;\n    text-align: center;\n    text-shadow: 1px 1px 1px #fff;\n}\n.zui-table tbody td {\n    width: 100%;\n    height:50%;\n    border: solid 1px #333;\n    color: #333;\n    text-align: center;\n    padding: 5px 3px 8px 3px;\n    text-shadow: 1px 1px 1px #fff;\n}\n.zui-table-rounded {\n    border: none;\n}\n.zui-table-rounded thead th {\n    background-color: #77aaff;\n    border: none;\n    text-shadow: 1px 1px 1px #ccc;\n    color: #333;\n}\n.zui-table-rounded thead th:first-child {\n    border-radius: 10px 0 0 0;\n}\n.zui-table-rounded thead th:last-child {\n    border-radius: 10px 10px 0px 0px;\n}\n.zui-table-rounded tbody td {\n    border: none;\n    border-top: solid 1px #957030;\n    background-color: #aaddff;\n}\n.zui-table-rounded tbody tr:last-child td:first-child {\n    border-radius: 10px 10px 0 0;\n}\n.zui-table-rounded tbody tr:last-child td:last-child {\n    border-radius: 0 0 10px 10px;\n}  \n</style>\n\n<script>\nvar current=1;\n\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),50);\n    navigator.vibrate(80);\n    });\n    \nvar myStatus=\"Nowt\";\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1000,"y":60,"wires":[[]]},{"id":"b78b0ad2.da9868","type":"ui_template","z":"9eabd575.3747a","group":"9bd2b4ed.27cfd","name":"Settings page","order":2,"width":"6","height":"7","format":"<style>\n.thedays { vertical-align:bottom; height:54px; }\n.the2px  { background-color:black; height:2px; }\n.theblocks {width:100%; height:0%; background-color:green; }\n.greybuttons { background-color:#dddddd !important; width:48px; }\n.bluebuttons { background-color:#00a6e8 !important; width:48px; }\n.thetemps { font-size:70%; color:#888888 !important; }\n.smallheadings { color:black; font-size:80%; }\n\n</style>\n\n<script>\nvar thedays = [\"SUNDAY\", \"MONDAY\", \"TUESDAY\", \"WEDNESDAY\", \"THURSDAY\", \"FRIDAY\", \"SATURDAY\"];\n\nvar last = 1;\n\nfunction bar(mm, val) {\n  if (val == 14) {\n    $(mm).height(\"12%\");\n    $(mm).css('background-color', '#6666ff');\n  } //blue\n  if (val == 15) {\n    $(mm).height(\"16%\");\n    $(mm).css('background-color', '#5577ff');\n  }\n  if (val == 16) {\n    $(mm).height(\"20%\");\n    $(mm).css('background-color', '#5599ff');\n  }\n  if (val == 17) {\n    $(mm).height(\"24%\");\n    $(mm).css('background-color', '#55ccdd');\n  } // cyan\n  if (val == 18) {\n    $(mm).height(\"28%\");\n    $(mm).css('background-color', '#55ddaa');\n  }\n  if (val == 19) {\n    $(mm).height(\"32%\");\n    $(mm).css('background-color', '#55dd55');\n  }\n  if (val == 20) {\n    $(mm).height(\"36%\");\n    $(mm).css('background-color', '#55dd55');\n  } // green\n  if (val == 21) {\n    $(mm).height(\"40%\");\n    $(mm).css('background-color', '#55dd55');\n  }\n  if (val == 22) {\n    $(mm).height(\"44%\");\n    $(mm).css('background-color', '#aadd55');\n  }\n  if (val == 23) {\n    $(mm).height(\"48%\");\n    $(mm).css('background-color', '#dddd55');\n  } // yellow\n  if (val == 24) {\n    $(mm).height(\"52%\");\n    $(mm).css('background-color', '#ffaa55');\n  }\n  if (val == 25) {\n    $(mm).height(\"56%\");\n    $(mm).css('background-color', '#ff8855');\n  }\n  if (val == 26) {\n    $(mm).height(\"60%\");\n    $(mm).css('background-color', '#ff7777');\n  } // red\n\n}\n\nfunction selec(val, sta) {\n  var w = \"#td\" + val;\n  if (sta) $(w).css('background-color', 'magenta');\n  else $(w).css('background-color', 'black');\n}\n\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    selec(last, 0);\n    last = msg.selector;\n    selec(last, 1);\n    for (var x = 0; x < 24; x++) {\n      var w = \"#t\" + x;\n      bar(w, msg.timing[((msg.days - 1) * 24) + x]);\n      var v = \"#v\" + x;\n      $(v).text(msg.timing[((msg.days - 1) * 24) + x] + \"C\")\n    }\n    for (var x = 0; x < 2; x++) {\n      var w = \"#s\" + x;\n      $(w).text(msg.timing[168 + x] + \"C\");\n    }\n    $(\"#s2\").text(msg.timing[170] + \"%\");\n    \n    $(\"#d0\").text(thedays[msg.days - 1]);\n    if ((last > 4) && (last < 29))\n      $(\"#current\").text(msg.timing[((msg.days - 1) * 24) + last - 5] + \"C\");\n    else\n      $(\"#current\").text(\"-\");\n\n   myStatus=msg.myStatus;\n   if (msg.foryou != \"\")\n   {\n       $(\"#info\").text(msg.foryou);\n       var tm = setTimeout(function() {\n             $(\"#info\").text(myStatus);\n             clearTimeout(tm);\n       }, 3000);\n    }\n  });\n})(scope);\n\n</script>\n<table width=\"100%\">\n  <tr style=\"height:2px\">\n    <td colspan=12 style=\"background-color:black;height:5px;\"></td>\n  </tr>\n\n  <tr>\n    <td colspan=6>\n      <center><span class=\"smallheadings\">Day</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Frost</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Away</span></center>\n    </td>\n    <td colspan=2>\n      <center><span class=\"smallheadings\">Dehum</span></center>\n    </td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '29'})\" colspan=6>\n      <center><span id=\"d0\" style=\"color:blue;font-size:110%\">MONDAY</span></center>\n    </td>\n    <td ng-click=\"send({payload: '1'})\" colspan=2>\n      <center><span id=\"s0\" style=\"color:blue;font-size:110%\">14</span></center>\n    </td>\n    <td ng-click=\"send({payload: '2'})\" colspan=2>\n      <center><span id=\"s1\" style=\"color:blue;font-size:110%\">20</span></center>\n    </td>\n    <td ng-click=\"send({payload: '30'})\" colspan=2>\n      <center><span id=\"s2\" style=\"color:blue;font-size:110%\">40</span></center>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td29\" colspan=6 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td1\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td2\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n    <td id=\"td30\" colspan=2 style=\"background-color:black;height:2px;\"></td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '5'})\" class=\"thedays\"><span id=\"v0\" class=\"thetemps\"></span>\n      <div id=\"t0\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '6'})\" class=\"thedays\"><span id=\"v1\" class=\"thetemps\"></span>\n      <div id=\"t1\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '7'})\" class=\"thedays\"><span id=\"v2\" class=\"thetemps\"></span>\n      <div id=\"t2\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '8'})\" class=\"thedays\"><span id=\"v3\" class=\"thetemps\"></span>\n      <div id=\"t3\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '9'})\" class=\"thedays\"><span id=\"v4\" class=\"thetemps\"></span>\n      <div id=\"t4\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '10'})\" class=\"thedays\"><span id=\"v5\" class=\"thetemps\"></span>\n      <div id=\"t5\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '11'})\" class=\"thedays\"><span id=\"v6\" class=\"thetemps\"></span>\n      <div id=\"t6\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '12'})\" class=\"thedays\"><span id=\"v7\" class=\"thetemps\"></span>\n      <div id=\"t7\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '13'})\" class=\"thedays\"><span id=\"v8\" class=\"thetemps\"></span>\n      <div id=\"t8\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '14'})\" class=\"thedays\"><span id=\"v9\" class=\"thetemps\"></span>\n      <div id=\"t9\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '15'})\" class=\"thedays\"><span id=\"v10\" class=\"thetemps\"></span>\n      <div id=\"t10\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '16'})\" class=\"thedays\"><span id=\"v11\" class=\"thetemps\"></span>\n      <div id=\"t11\" class=\"theblocks\"></div>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td5\" class=\"the2px\"></td>\n    <td id=\"td6\" class=\"the2px\"></td>\n    <td id=\"td7\" class=\"the2px\"></td>\n    <td id=\"td8\" class=\"the2px\"></td>\n    <td id=\"td9\" class=\"the2px\"></td>\n    <td id=\"td10\" class=\"the2px\"></td>\n    <td id=\"td11\" class=\"the2px\"></td>\n    <td id=\"td12\" class=\"the2px\"></td>\n    <td id=\"td13\" class=\"the2px\"></td>\n    <td id=\"td14\" class=\"the2px\"></td>\n    <td id=\"td15\" class=\"the2px\"></td>\n    <td id=\"td16\" class=\"the2px\"></td>\n  </tr>\n\n  <tr>\n    <td>0</td>\n    <td>1</td>\n    <td>2</td>\n    <td>3</td>\n    <td>4</td>\n    <td>5</td>\n    <td>6</td>\n    <td>7</td>\n    <td>8</td>\n    <td>9</td>\n    <td>10</td>\n    <td>11</td>\n  </tr>\n\n  <tr>\n    <td ng-click=\"send({payload: '17'})\" class=\"thedays\"><span id=\"v12\" class=\"thetemps\"></span>\n      <div id=\"t12\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '18'})\" class=\"thedays\"><span id=\"v13\" class=\"thetemps\"></span>\n      <div id=\"t13\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '19'})\" class=\"thedays\"><span id=\"v14\" class=\"thetemps\"></span>\n      <div id=\"t14\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '20'})\" class=\"thedays\"><span id=\"v15\" class=\"thetemps\"></span>\n      <div id=\"t15\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '21'})\" class=\"thedays\"><span id=\"v16\" class=\"thetemps\"></span>\n      <div id=\"t16\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '22'})\" class=\"thedays\"><span id=\"v17\" class=\"thetemps\"></span>\n      <div id=\"t17\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '23'})\" class=\"thedays\"><span id=\"v18\" class=\"thetemps\"></span>\n      <div id=\"t18\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '24'})\" class=\"thedays\"><span id=\"v19\" class=\"thetemps\"></span>\n      <div id=\"t19\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '25'})\" class=\"thedays\"><span id=\"v20\" class=\"thetemps\"></span>\n      <div id=\"t20\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '26'})\" class=\"thedays\"><span id=\"v21\" class=\"thetemps\"></span>\n      <div id=\"t21\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '27'})\" class=\"thedays\"><span id=\"v22\" class=\"thetemps\"></span>\n      <div id=\"t22\" class=\"theblocks\"></div>\n    </td>\n    <td ng-click=\"send({payload: '28'})\" class=\"thedays\"><span id=\"v23\" class=\"thetemps\"></span>\n      <div id=\"t23\" class=\"theblocks\"></div>\n    </td>\n  </tr>\n\n  <tr style=\"height:2px\">\n    <td id=\"td17\" class=\"the2px\"></td>\n    <td id=\"td18\" class=\"the2px\"></td>\n    <td id=\"td19\" class=\"the2px\"></td>\n    <td id=\"td20\" class=\"the2px\"></td>\n    <td id=\"td21\" class=\"the2px\"></td>\n    <td id=\"td22\" class=\"the2px\"></td>\n    <td id=\"td23\" class=\"the2px\"></td>\n    <td id=\"td24\" class=\"the2px\"></td>\n    <td id=\"td25\" class=\"the2px\"></td>\n    <td id=\"td26\" class=\"the2px\"></td>\n    <td id=\"td27\" class=\"the2px\"></td>\n    <td id=\"td28\" class=\"the2px\"></td>\n  </tr>\n\n  <tr>\n    <td>12</td>\n    <td>13</td>\n    <td>14</td>\n    <td>15</td>\n    <td>16</td>\n    <td>17</td>\n    <td>18</td>\n    <td>19</td>\n    <td>20</td>\n    <td>21</td>\n    <td>22</td>\n    <td>23</td>\n  </tr>\n  \n  <tr height=\"4px\">\n    <td colspan=\"12\"></td>\n  </tr>\n\n\n  <tr height=\"22px\">\n    <td colspan=2 bgcolor=\"#dddddd\"><span class=\"smallheadings\">&nbsp;Status:</span></td>\n\n    <td colspan=10 bgcolor=\"#dddddd\">\n      <center><span id=\"info\" class=\"smallheadings\">OK</span></center>\n    </td>\n  </tr>\n\n  <tr height=\"6px\">\n    <td colspan=\"12\"></td>\n  </tr>\n\n  <tr style=\"height:48px\">\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded bluebuttons\" ng-click=\"send({payload: 'd'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-left-double-2.png':'/myicons/png/48x48/actions/arrow-left-double-2.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <center><span id=\"current\" style=\"color:black;font-size:120%\">-</span></center>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded bluebuttons\" ng-click=\"send({payload: 'u'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-double-2.png':'/myicons/png/48x48/actions/arrow-right-double-2.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded bluebuttons\" ng-click=\"send({payload: 'r'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/edit-copy-4.png':'/myicons/png/48x48/actions/edit-copy-4.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded bluebuttons\" ng-click=\"send({payload: 's'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/document-save-5.png':'/myicons/png/48x48/actions/document-save-5.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n\n    <td colspan=2>\n      <md-button class=\"vibrate filled touched smallfont rounded bluebuttons\" ng-click=\"send({payload: 'c'})\">\n        <img style=\"outline : none;\" ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/dialog-cancel-5.png':'/myicons/png/48x48/actions/dialog-cancel-5.png'}}\" height=\"36px\" />\n      </md-button>\n    </td>\n    <td colspan=1></td>\n  </tr>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1020,"y":120,"wires":[["f1789ac8.5a328","5a382828.61ade8","a303c31f.88a4d"]]},{"id":"f1789ac8.5a328","type":"function","z":"9eabd575.3747a","name":"Process controls","func":"if ( typeof context.days                       == 'undefined' ) context.days=1;\nif ( typeof context.selector                   == 'undefined' ) context.selector=1;\nif ( typeof context.saving                     == 'undefined' ) context.saving=0;\nif ( typeof context.global.incomingTemperature == 'undefined' ) context.global.incomingTemperature=0;\nif ( typeof context.global.incomingHumidity    == 'undefined' ) context.global.incomingHumidity=40;\nif ( typeof context.global.hold                == 'undefined' ) context.global.hold=0;\nif ( typeof context.global.away                == 'undefined' ) context.global.away=0;\nif ( typeof context.global.manual              == 'undefined' ) context.global.manual=0;\nif ( typeof context.global.setTemperature      == 'undefined' ) context.global.setTemperature=0;\nif ( typeof context.global.manualTimer         == 'undefined' ) context.global.manualTimer=0;\nif ( typeof context.global.myStatus            == 'undefined')  context.global.myStatus=\"\";\nif ( typeof context.global.timing              == 'undefined' ) {\n    context.global.timing=[\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,\n                        8,14,40,0\n                        ];\n    context.saving=0;  \n    msg.payload=\"anything\";  msg.foryou=\"Restoring\"; return([null,null,msg]);\n}\n\nvar timing=global.get(\"timing\");\n\nswitch (msg.payload) {\n    case \"u\" :  if ((context.selector>4)&&(context.selector<29))\n                {\n                    timing[((context.days-1)*24)+context.selector-5]++; \n                    if (timing[((context.days-1)*24)+context.selector-5]>26) timing[((context.days-1)*24)+context.selector-5]=26;\n                    msg.foryou=\"Incremented temperature\";\n                }\n                if (context.selector==1) { if (timing[168]<26) {  timing[168]++; msg.foryou=\"Incremented frost setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==2) { if (timing[169]<26) {  timing[169]++; msg.foryou=\"Incremented away setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==29) { if (context.days<7) { context.days++; msg.foryou=\"Forward one day\";} else context.days=1; }\n                if (context.selector==30) { if (timing[170]<60) {  timing[170]++; msg.foryou=\"Incremented humidity setting 1%\"; } else msg.foryou=\"Hit limit\"; }\n\n                break;\n    case \"d\" :  if ((context.selector>4)&&(context.selector<29))\n                {\n                    timing[((context.days-1)*24)+context.selector-5]--; \n                    if (timing[((context.days-1)*24)+context.selector-5]<14) timing[((context.days-1)*24)+context.selector-5]=14;\n                    msg.foryou=\"Decremented temperature\";\n                }\n                if (context.selector==1) { if (timing[168]>8) { timing[168]--; msg.foryou=\"Decremented frost setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==2) { if (timing[169]>8) { timing[169]--; msg.foryou=\"Decremented away setting 1 degree\"; } else msg.foryou=\"Hit limit\"; }\n                if (context.selector==29) { if (context.days>1) { context.days--;  msg.foryou=\"Backward one day\";} else context.days = 7;  }\n                if (context.selector==30) { if (timing[170]>30) { timing[170]--; msg.foryou=\"Decremented humidity setting 1%\"; } else msg.foryou=\"Hit limit\"; }\n\n                break;\n    case 'r' :  if ((context.selector>4)&&(context.selector<28))\n                        {\n                         timing[((context.days-1)*24)+context.selector-4]=timing[((context.days-1)*24)+context.selector-5];   \n                         context.selector++;\n                         msg.foryou=\"Copied settings to the next hour slot\";\n                        }\n                if ((context.selector==29)&&(context.days<7))\n                        {\n                         for (var a=0;a<24;a++)\n                            {\n                             timing[((context.days)*24)+a]=timing[((context.days-1)*24)+a];   \n                            }\n                         context.days++;\n                         msg.foryou=\"Copied a complete day's settings\";\n                        }\n                break;\n    case 's': context.saving=0;  msg.foryou=\"Settings saved to disk\"; break;\n    case '1':\n    case '2':\n    case '3':\n    case '4':\n    case '5':\n    case '6':\n    case '7':\n    case '8':\n    case '9':\n    case '10':\n    case '11':\n    case '12':\n    case '13':\n    case '14':\n    case '15':\n    case '16':\n    case '17':\n    case '18':\n    case '19':\n    case '20':\n    case '21':\n    case '22':\n    case '23':\n    case '24':\n    case '25':\n    case '26':\n    case '27':\n    case '28':\n    case '29':\n    case '30': context.selector=parseInt(msg.payload);\n               if (msg.payload=='1') msg.foryou=\"Frost temperature selection\"; \n               else if (msg.payload=='2') msg.foryou=\"Away temperature selection\";\n               else if (msg.payload=='29') msg.foryou=\"Day selection\";\n               else if (msg.payload=='30') msg.foryou=\"Humidity selection\";\n               else  msg.foryou=\"Selected hour period \" + (parseInt(msg.payload)-4);\n               break;\n    case 'c' : msg.payload=\"anything\";  msg.foryou=\"Changes cancelled\"; node.send([null,null,msg]);\n}\n\nmsg.temperatures=context.temperatures;\nmsg.timing=timing;\nmsg.days=context.days;\nmsg.selector=context.selector;\n\n\nmsg.myStatus=context.global.myStatus;\n\nnode.send([msg,null,null]);\n\nif (context.saving===0) {\n    msg.topic=\"\";\n    msg.timing=\"\";\n    msg.payload=JSON.stringify(timing);\n    node.send([null,msg,null]); \n    context.saving=1;\n}\n\nmsg.foryou=\"\";\n","outputs":"3","noerr":0,"x":1010,"y":200,"wires":[["b78b0ad2.da9868"],["6fbae950.b9b27"],["9f84ed97.af4a"]]},{"id":"a5ed81df.c70ef","type":"inject","z":"9eabd575.3747a","name":"Once only","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":670,"y":280,"wires":[["f1789ac8.5a328","9f84ed97.af4a"]]},{"id":"e359749.a927b08","type":"inject","z":"9eabd575.3747a","name":"Every minute","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":"","x":660,"y":340,"wires":[["5a382828.61ade8","344b2aab.661276","f1789ac8.5a328"]]},{"id":"5a382828.61ade8","type":"function","z":"9eabd575.3747a","name":"Process heat","func":"var timing=global.get(\"timing\");\nvar now = new Date();\nmsg.payload=timing[(now.getDay()*24)+now.getHours()];\nmsg.frost=timing[168];\nmsg.away=timing[169];\nmsg.setHumidity=timing[170];\n\nmsg.temperature=global.get(\"incomingTemperature\");\nmsg.humidity=global.get(\"incomingHumidity\");\n\nmsg.set=msg.payload;\nif (global.get(\"manualTimer\")) global.set(\"manualTimer\",global.get(\"manualTimer\")-1);\nelse global.set(\"manual\",0);\n\nmsg.desired=msg.set;\nglobal.set(\"setTemperature\",msg.desired);\nmsg.desired+=global.get(\"manual\");\nif (global.get(\"frost\")) { msg.desired=global.get(\"timing\")[168]; global.set(\"frost\",global.get(\"frost\")-1); }\n\nif (global.get(\"away\")) { \n    msg.desired=global.get(\"timing\")[169];\n}\n\nif (msg.desired>msg.temperature) msg.heatRelay=1; else msg.heatRelay=0;\nif (msg.humidity>msg.setHumidity) msg.humidityRelay=1; else msg.humidityRelay=0;\n\n//context.global.myStatus=\"Heating: \" + ((msg.heatRelay)? \"ON\":\"OFF\") + \" Dehumidifier: \" + ((msg.humidityRelay)? \"ON\":\"OFF\");\nglobal.set(\"myStatus\",\"-\");\n\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Set point \" + msg.desired + \"c - Actual \" + msg.temperature +\"c\"});\n\nif ( typeof msg.value == 'undefined' ) msg.value=global.get(\"incomingTemperature\");\n\nnode.send(msg);\n\n\n\n\n\n","outputs":"1","noerr":0,"x":1190,"y":340,"wires":[["5e65341.575c8cc","9498c53b.4cfe9","c423b838.9cf6e8","cbc938e6.de323","e3bca95c.1f0f1","a611eb5d.3412a","3b6a6e6d.33182a","536a967.fa352e8","461d7199.3aa7a8","380232e8.5fc5ae","5473873b.c70008"]]},{"id":"6fbae950.b9b27","type":"file","z":"9eabd575.3747a","name":"backup","filename":"/home/osmc/petesstatlog.log","appendNewline":true,"createDir":true,"overwriteFile":"true","x":1260,"y":140,"wires":[[]]},{"id":"9f84ed97.af4a","type":"file in","z":"9eabd575.3747a","name":"Restore","filename":"/home/osmc/petesstatlog.log","format":"utf8","sendError":true,"x":1260,"y":200,"wires":[["84afee1.2eaaa9"]]},{"id":"84afee1.2eaaa9","type":"function","z":"9eabd575.3747a","name":"Restore data from SD","func":"context.global.timing=JSON.parse(msg.payload);\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":260,"wires":[["f1789ac8.5a328"]]},{"id":"9c3049da.01069","type":"inject","z":"9eabd575.3747a","name":"incoming humidity 40%","topic":"humidity","payload":"40","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":560,"wires":[["f7539cc2.2236d"]]},{"id":"2da5372.b88c648","type":"inject","z":"9eabd575.3747a","name":"incoming humidity 50%","topic":"humidity","payload":"50","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":600,"wires":[["f7539cc2.2236d"]]},{"id":"858006bb.690f18","type":"function","z":"9eabd575.3747a","name":"Store temperature","func":"global.set(\"incomingTemperature\",msg.payload);","outputs":"0","noerr":0,"x":410,"y":660,"wires":[]},{"id":"c7ceabf0.97c348","type":"function","z":"9eabd575.3747a","name":"Store data","func":"global.set(\"incomingTemperature\",msg.payload);\nglobal.set(\"incomingHumidity\",msg.humidity);","outputs":"0","noerr":0,"x":430,"y":100,"wires":[]},{"id":"e2ab6c13.79432","type":"inject","z":"9eabd575.3747a","name":"Test \"Away\" 2 minutes","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":720,"wires":[["a9cd0d53.2f2148"]]},{"id":"328a33ea.675fec","type":"inject","z":"9eabd575.3747a","name":"Test \"Away\" clear","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":760,"wires":[["a9cd0d53.2f2148"]]},{"id":"558c93a0.fb13ec","type":"inject","z":"9eabd575.3747a","name":"Test \"Frost\" 2 minutes","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":800,"wires":[["c81f32ab.625c2"]]},{"id":"4f880ae2.b00a14","type":"inject","z":"9eabd575.3747a","name":"Test \"Frost\" clear","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":840,"wires":[["c81f32ab.625c2"]]},{"id":"c81f32ab.625c2","type":"function","z":"9eabd575.3747a","name":"Store \"Hold\"","func":"global.set(\"frost\",msg.payload);","outputs":"0","noerr":0,"x":390,"y":820,"wires":[]},{"id":"a9cd0d53.2f2148","type":"function","z":"9eabd575.3747a","name":"Store \"Away\"","func":"global.set(\"away\",msg.payload);","outputs":"0","noerr":0,"x":390,"y":740,"wires":[]},{"id":"2e1fe18e.8d7196","type":"inject","z":"9eabd575.3747a","name":"sample forecast","topic":"","payload":"Dry, 2c with chance of snow","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":880,"wires":[["a58e9b6e.60a31"]]},{"id":"1d1c3798.f85e6","type":"inject","z":"9eabd575.3747a","name":"Sample forecast","topic":"","payload":"Wet, 12c, possibly rain tonight","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":920,"wires":[["a58e9b6e.60a31"]]},{"id":"a58e9b6e.60a31","type":"function","z":"9eabd575.3747a","name":"Store forecast","func":"global.set(\"forecast\",msg.payload);","outputs":"0","noerr":0,"x":400,"y":900,"wires":[]},{"id":"5473873b.c70008","type":"function","z":"9eabd575.3747a","name":"Heat relay","func":"var prev=context.get(\"prev\");\n\nif ( msg.heatRelay != prev ) {\n    context.set(\"prev\",msg.Relay);\n    msg.payload = Number(msg.payload);\n    if (msg.heatRelay==1) {\n            global.set(\"heater\", 1);\n            node.status({fill:\"red\",shape:\"dot\",text:\"Heat ON\"});\n            return {payload: 1};\n    } else {\n            global.set(\"heater\", 0);\n            node.status({fill:\"black\",shape:\"dot\",text:\"Heat OFF\"});\n            return {payload: 0};\n    }\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":1790,"y":220,"wires":[["3793ff4e.7ed5a8","49e3ac70.4f04c4","ac4ec4a.2250b38","b284015b.2e0bc","ad2a9172.396328"]]},{"id":"67ad23d6.0c4f4c","type":"function","z":"9eabd575.3747a","name":"Handle SET","func":"// here we set manual override controls - valid for 60 minutes after last change.\n\nif (global.get(\"away\")===0)\n{\n    if (msg.payload==\"u\") { global.set(\"manualTimer\",60); if (global.get(\"manual\")<10) global.set(\"manual\",global.get(\"manual\")+1); }\n    if (msg.payload==\"d\") { global.set(\"manualTimer\",60); if (global.get(\"manual\")>-10) global.set(\"manual\",global.get(\"manual\")-1); }\n    if (msg.payload==\"a\") { global.set(\"manualTimer\",0); global.set(\"manual\",0); }\n}\n\nif (global.get(\"manual\")===0) msg.colour=\"#aaddff\"; else msg.colour=\"#aaffaa\";\n\nmsg.desired= global.get(\"setTemperature\") + global.get(\"manual\");\nif (global.get(\"frost\")) { msg.desired=global.get(\"timing\")[168]; msg.colour=\"#ffbbbb\"; }\nif (global.get(\"away\"))  { msg.desired=global.get(\"timing\")[169];msg.colour=\"#ffbbbb\";  }\nmsg.value=msg.desired;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":460,"wires":[["9498c53b.4cfe9","5a382828.61ade8"]]},{"id":"a84c0e11.b624f8","type":"ui_template","z":"9eabd575.3747a","group":"9bd2b4ed.27cfd","name":"up","order":4,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded bluebuttons\" ng-click=\"send({payload: 'u'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-2.png':'/myicons/png/48x48/actions/arrow-right-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":610,"y":460,"wires":[["67ad23d6.0c4f4c","655e07b0.b95fe8"]]},{"id":"a715b4c6.35af6","type":"ui_template","z":"9eabd575.3747a","group":"9bd2b4ed.27cfd","name":"down","order":3,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded bluebuttons\" ng-click=\"send({payload: 'd'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-down-2.png':'/myicons/png/48x48/actions/arrow-left-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":610,"y":500,"wires":[["67ad23d6.0c4f4c","655e07b0.b95fe8"]]},{"id":"50ffa4d.998245c","type":"function","z":"9eabd575.3747a","name":"Handle AWAY","func":"// here we set manual override controls - valid for 60 minutes after last change.\nvar changed=0;\n\nswitch (msg.payload) {\n    case \"u\":\n        node.log(\"Antes \" + global.get(\"away\"));\n        global.set(\"away\", global.get(\"away\")+1); \n        changed=1;\n        break;\n                \n    case \"uu\":\n        global.set(\"away\", global.get(\"away\")+24);\n        changed = 1;\n        break;\n                \n    case \"a\" :\n        global.set(\"away\",0);\n        changed=1;\n        break;\n        \n    case \"reduce\":\n        if (global.get(\"away\")) { \n            global.set(\"away\", global.get(\"away\")-1); \n            changed=1;\n        }\n\n        break;\n}\n\nif (changed == 1) {\n    msg.away=global.get(\"away\");\n    if (global.get(\"away\")===0) msg.colour=\"#aaddff\"; else msg.colour=\"#aaffaa\";\n    \n    var t=parseInt(msg.away);\n    node.status({text:\"horas: \" + t});\n\n    if (t>23) {\n        t=((t/24).toFixed(0))+\"d\"+(t%24)+\"h\"; \n    } else {\n        t=t+\"h\";\n    }\n\n    msg.away=t;\n  \n    msg.payload=\"\";\n    return msg;\n}","outputs":1,"noerr":0,"x":860,"y":520,"wires":[["67ad23d6.0c4f4c","303b6058.139ea8"]]},{"id":"f8755e8b.c13448","type":"ui_template","z":"9eabd575.3747a","group":"9bd2b4ed.27cfd","name":"more","order":6,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded bluebuttons\" ng-click=\"send({payload: 'u'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-right-2.png':'/myicons/png/48x48/actions/arrow-right-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":610,"y":540,"wires":[["50ffa4d.998245c","655e07b0.b95fe8"]]},{"id":"c9bbc3c7.d05c68","type":"ui_template","z":"9eabd575.3747a","group":"9bd2b4ed.27cfd","name":"mmore","order":7,"width":"1","height":"1","format":"  <md-button  class=\"vibrate filled touched smallfont rounded bluebuttons\" ng-click=\"send({payload: 'uu'})\"> \n                <img style=\"outline : none;\" \n                             ng-src=\"{{(msg.payload)?'/myicons/png/48x48/actions/arrow-left-double-2.png':'/myicons/png/48x48/actions/arrow-right-double-2.png'}}\" \n                              height=\"36px\"\n                />\n</md-button> ","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":610,"y":580,"wires":[["50ffa4d.998245c","655e07b0.b95fe8"]]},{"id":"5e65341.575c8cc","type":"ui_template","z":"9eabd575.3747a","group":"9bd2b4ed.27cfd","name":"newergauge","order":1,"width":"3","height":"3","format":"<script type=\"text/javascript\" src=\"/myjs/gauge.min.js\"></script>\n<script>\n\n\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n           gauge.value=msg.value;\n           gauge.heat=msg.heatRelay;\n           ////gauge.humidity=msg.humidityRelay;\n           gauge.draw();\n        });\n    })(scope);\n    \nvar gauge = new RadialGauge({\n    renderTo: 'canvas-id',\n    width: 150,\n    height: 150,\n    heat: 0,\n    ////humidity: 0,\n    units: \"Degrees C\",\n    title: \"Heating\",\n    minValue: 10,\n    maxValue: 30,\n    majorTicks: [\n        '10',\n        '15',\n        '20',\n        '25',\n        '30'\n    ],\n    minorTicks: 5,\n    strokeTicks: true,\n   highlights  : [\n        { from : 10,  to : 15, color : '#8888ff' },\n        { from : 15, to : 20, color :  '#88ff88' },\n        { from : 20, to : 25, color :  '#ffff00' },\n        { from : 25, to : 30, color :  '#ff8888' }\n    ],\n\n    colorPlate: \"#fff\",\n    borderShadowWidth: 0,\n    borders: true,\n    needleType: \"arrow\",\n    valueInt: 2,\n    valueDec:0,\n    needleWidth: 2,\n    fontTitleSize: 42,\n    needleCircleSize: 14,\n    needleCircleOuter: true,\n    needleCircleInner: false,\n    animationDuration: 500,\n    animationRule: \"linear\"\n}).draw();\n\n\ngauge.on('beforeNeedle', function () {\n        // getting canvas 2d drawing context\n        var context = this.canvas.context;\n        // we can use gauge context special 'max' property which represents\n        // gauge radius in a real pixels and calculate size of relative pixel\n        // for our drawing needs\n        var pixel = context.max / 100;\n        // step out our circle center coordinate by 30% of its radius from\n        // gauge center\n        var centerX = 36 * pixel;\n        // stay in center by Y-coordinate\n        var centerY = 0;\n        // use circle radius equal to 5%\n        var radius = 10 * pixel;\n        // save previous context state\n        context.save();\n        \n        // draw circle using canvas JS API\n        context.beginPath();\n        context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);\n        context.fillStyle = (this.heat) ? '#ff0000' : '#8888';\n        context.fill();\n        context.closePath();\n\n/* Eliminamos humidity\n        context.beginPath();\n        context.arc(centerX-(72 * pixel), centerY, radius, 0, 2 * Math.PI, false);\n        context.fillStyle = (this.humidity) ? '#00dd88' : '#888888';\n        context.fill();\n        context.closePath();\n*********/\n        // restore previous context state to prevent break of\n        // further drawings        \n        \n        context.restore();\n       // context.draw();\n    });\n\ngauge.value = 18;\n\n\n</script>\n<canvas style=\"outline: none;\" ng-click=\"send({payload: ' '})\" id=\"canvas-id\">\n</canvas>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1190,"y":540,"wires":[["5a382828.61ade8","a303c31f.88a4d"]]},{"id":"9498c53b.4cfe9","type":"ui_template","z":"9eabd575.3747a","group":"9bd2b4ed.27cfd","name":"SET","order":5,"width":"1","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.desired!=\"\") $(\"#infor\").text(msg.desired+\"C\");\n             if (msg.colour!=\"\") $(\"#infor\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n<table  ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"vibrate zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th>SET</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr >\n            <td id=\"infor\"></td>\n        </tr>\n\n    </tbody>\n</table>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1170,"y":500,"wires":[["67ad23d6.0c4f4c","655e07b0.b95fe8"]]},{"id":"303b6058.139ea8","type":"ui_template","z":"9eabd575.3747a","group":"9bd2b4ed.27cfd","name":"AWAY","order":8,"width":"1","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.away!=\"\") $(\"#awaytable\").text(msg.away);\n             if (msg.colour!=\"\") $(\"#awaytable\").css(\"background-color\",msg.colour);\n        });\n \n    })(scope);\n</script>\n\n<table ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"vibrate zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th>AWAY</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td id=\"awaytable\"></td>\n    \n        </tr>\n\n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1170,"y":580,"wires":[["50ffa4d.998245c","655e07b0.b95fe8"]]},{"id":"3d5343bb.e9fb94","type":"ui_template","z":"9eabd575.3747a","group":"9bd2b4ed.27cfd","name":"STATUS","order":9,"width":"3","height":"1","format":"<script>\n   (function(scope){\n        scope.$watch('msg', function(msg) {\n             if (msg.topic!=\"\") $(\"#hdr1\").text(msg.topic);\n             if (msg.payload!=\"\") $(\"#bod1\").text(msg.payload);\n        });\n    })(scope);\n</script>\n\n<table ng-click=\"send({payload: 'a'})\" width=100% height=100% class=\"zui-table zui-table-rounded\">\n    <thead>\n        <tr>\n            <th id=\"hdr1\">></th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr>\n            <td id=\"bod1\"></td>\n    \n        </tr>\n\n    </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1180,"y":620,"wires":[[]]},{"id":"344b2aab.661276","type":"function","z":"9eabd575.3747a","name":"show humidity","func":"function theNewDate()\n{\n   var d = new Date(),\n    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes();\n    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours();\n    ampm = d.getHours() >= 12 ? 'pm' : 'am';\n    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\n    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];\n    var m= days[d.getDay()]+' '+months[d.getMonth()]+' '+d.getDate()+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;\n    return m;\n}\n\nmsg.topic=theNewDate();\nmsg.payload=\"Humidity: \" + global.get(\"incomingHumidity\") +\"%\" ;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":580,"wires":[["3d5343bb.e9fb94"]]},{"id":"655e07b0.b95fe8","type":"function","z":"9eabd575.3747a","name":"Showing settings","func":"msg.payload=\"Showing settings\";\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":640,"wires":[["3d5343bb.e9fb94"]]},{"id":"a303c31f.88a4d","type":"function","z":"9eabd575.3747a","name":"Showing actual","func":"msg.payload=\"Showing actual\";\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":700,"wires":[["3d5343bb.e9fb94"]]},{"id":"a611eb5d.3412a","type":"function","z":"9eabd575.3747a","name":"Dehum relay","func":"if (msg.humidityRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Dehumidifier ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Dehumidifier OFF\"});\n","outputs":"0","noerr":0,"x":1790,"y":300,"wires":[]},{"id":"932a9db6.9f4408","type":"inject","z":"9eabd575.3747a","name":"incoming heat 27c","topic":"","payload":"27","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":640,"wires":[["858006bb.690f18"]]},{"id":"36332287.7ae6fe","type":"inject","z":"9eabd575.3747a","name":"incoming heat 18c","topic":"","payload":"18","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":680,"wires":[["858006bb.690f18"]]},{"id":"c423b838.9cf6e8","type":"function","z":"9eabd575.3747a","name":"Heat test","func":"if (msg.heatRelay==1)\nnode.status({fill:\"red\",shape:\"dot\",text:\"Heat ON\"});\nelse\nnode.status({fill:\"black\",shape:\"dot\",text:\"Heat OFF\"});\n","outputs":"0","noerr":0,"x":1780,"y":640,"wires":[]},{"id":"cbc938e6.de323","type":"function","z":"9eabd575.3747a","name":"Dehum test","func":"// Alway off\n//if (msg.humidityRelay==1)\n//node.status({fill:\"red\",shape:\"dot\",text:\"Dehumidifier ON\"});\n//else\nnode.status({fill:\"black\",shape:\"dot\",text:\"Dehumidifier OFF\"});\n","outputs":"0","noerr":0,"x":1790,"y":700,"wires":[]},{"id":"396c641e.a41094","type":"inject","z":"9eabd575.3747a","name":"","topic":"","payload":"","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["5a1838a.1397cc8"]]},{"id":"5a1838a.1397cc8","type":"rpi-dht22","z":"9eabd575.3747a","name":"","topic":"rpi-dht11","dht":"11","pintype":"0","pin":4,"x":260,"y":80,"wires":[["c7ceabf0.97c348","9b460bc6.5389a8","23b5be82.b53c9a"]]},{"id":"e3bca95c.1f0f1","type":"debug","z":"9eabd575.3747a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1780,"y":780,"wires":[]},{"id":"3b6a6e6d.33182a","type":"change","z":"9eabd575.3747a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temperature","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Current","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":400,"wires":[["764e5669.ae12d8"]]},{"id":"536a967.fa352e8","type":"change","z":"9eabd575.3747a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"desired","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Desired","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":440,"wires":[["764e5669.ae12d8"]]},{"id":"764e5669.ae12d8","type":"ui_chart","z":"9eabd575.3747a","name":"","group":"13d4342d.1c2f74","order":12,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff810f","#80ffff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1990,"y":420,"wires":[[],[]]},{"id":"3793ff4e.7ed5a8","type":"ui_chart","z":"9eabd575.3747a","name":"","group":"13d4342d.1c2f74","order":11,"width":0,"height":0,"label":"Heater status","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2020,"y":180,"wires":[[],[]]},{"id":"9b460bc6.5389a8","type":"ui_gauge","z":"9eabd575.3747a","name":"Gauge: Temp","group":"5cb6eefc.b0a45","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}} ºC","min":"10","max":"40","colors":["#ffe700","#e68b00","#ff0000"],"seg1":"20","seg2":"30","x":440,"y":60,"wires":[]},{"id":"2430091d.3a274e","type":"ui_gauge","z":"9eabd575.3747a","name":"Gauge: Hum","group":"5cb6eefc.b0a45","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"45","seg2":"70","x":2070,"y":560,"wires":[]},{"id":"461d7199.3aa7a8","type":"change","z":"9eabd575.3747a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":560,"wires":[["db548f09.436d5"]]},{"id":"db548f09.436d5","type":"change","z":"9eabd575.3747a","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1930,"y":620,"wires":[["2430091d.3a274e"]]},{"id":"f7539cc2.2236d","type":"function","z":"9eabd575.3747a","name":"Store humidity","func":"global.set(\"incomingHumidity\",msg.payload);","outputs":"0","noerr":0,"x":400,"y":580,"wires":[]},{"id":"ac4ec4a.2250b38","type":"rpi-gpio out","z":"9eabd575.3747a","name":"HEATER ON/OFF","pin":"40","set":false,"level":"0","freq":"","out":"out","x":2030,"y":220,"wires":[]},{"id":"49e3ac70.4f04c4","type":"rpi-gpio out","z":"9eabd575.3747a","name":"LED ON/OFF","pin":"38","set":false,"level":"0","freq":"","out":"out","x":2020,"y":280,"wires":[]},{"id":"380232e8.5fc5ae","type":"function","z":"9eabd575.3747a","name":"INSERT STMT","func":"var prev=context.get(\"prev\");\n\nif ( (prev != msg.heatRelay) ) {\n    var newmsg = {\n        \"payload\": \"INSERT\",\n        \"topic\": \"INSERT INTO dhtreadings\" +\n        \"(temperature, set_temperature, heater_status, currentdate, currenttime, device) \" +\n        \"values(\" + msg.temperature + \",\" + msg.desired + \",\" + msg.heatRelay + \", date('now'), time('now'), 'DT11')\"\n    }\n    prev = msg.heatRelay;\n    return newmsg;\n}","outputs":1,"noerr":0,"x":1840,"y":120,"wires":[["d667e1a.8bcbea"]]},{"id":"d667e1a.8bcbea","type":"sqlite","z":"9eabd575.3747a","mydb":"af7d6611.35b0a8","sqlquery":"msg.topic","sql":"","name":"","x":2280,"y":120,"wires":[[]]},{"id":"c575d4b3.02e338","type":"inject","z":"9eabd575.3747a","name":"Every hour","topic":"","payload":"reduce","payloadType":"str","repeat":"3600","crontab":"","once":false,"onceDelay":"","x":610,"y":400,"wires":[["50ffa4d.998245c"]]},{"id":"23b5be82.b53c9a","type":"function","z":"9eabd575.3747a","name":"temperature","func":"var prev=context.get(\"prev\");\n\nif ( msg.payload != prev ) {\n    context.set(\"prev\",msg.payload);\n    msg.payload = Number(msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["3c486e21.a83862"]]},{"id":"3c486e21.a83862","type":"influxdb out","z":"9eabd575.3747a","influxdb":"1cd79565.497dc3","name":"","measurement":"temperature","precision":"","retentionPolicy":"","x":680,"y":140,"wires":[]},{"id":"bf9f226a.5ccec","type":"function","z":"9eabd575.3747a","name":"humidity","func":"var prev=context.get(\"prev\");\nif ( msg.humidity != prev ) {\n    context.set(\"prev\",msg.humidity);\n    msg.payload = Number(msg.humidity);\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["a452d3f8.646878"]]},{"id":"a452d3f8.646878","type":"influxdb out","z":"9eabd575.3747a","influxdb":"10e001a8.fa6c96","name":"","measurement":"humidity","precision":"","retentionPolicy":"","x":660,"y":180,"wires":[]},{"id":"b284015b.2e0bc","type":"function","z":"9eabd575.3747a","name":"heater","func":"var prev=context.get(\"prev\");\nvar heater=msg.payload;\n\nif ( heater != prev ) {\n    context.set(\"prev\",heater);\n    msg.payload = Number(heater);\n    return msg;\n}","outputs":1,"noerr":0,"x":1990,"y":340,"wires":[["f782eabb.d731b","ac2ae86f.caf048"]]},{"id":"f782eabb.d731b","type":"influxdb out","z":"9eabd575.3747a","influxdb":"514e5d1d.c6eb84","name":"","measurement":"heater","precision":"","retentionPolicy":"","x":2250,"y":340,"wires":[]},{"id":"ac2ae86f.caf048","type":"debug","z":"9eabd575.3747a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2220,"y":400,"wires":[]},{"id":"ad2a9172.396328","type":"mqtt out","z":"9eabd575.3747a","name":"","topic":"inTopic","qos":"","retain":"","broker":"6dbec0b8.af89a","x":2280,"y":240,"wires":[]},{"id":"9bd2b4ed.27cfd","type":"ui_group","z":"","name":"Heat Controller","tab":"afca15e8.2e29f8","order":1,"disp":true,"width":"6","collapse":true},{"id":"13d4342d.1c2f74","type":"ui_group","z":"","name":"Graphs","tab":"afca15e8.2e29f8","order":2,"disp":true,"width":"6","collapse":true},{"id":"5cb6eefc.b0a45","type":"ui_group","z":"","name":"Gauges","tab":"afca15e8.2e29f8","order":3,"disp":true,"width":"6","collapse":true},{"id":"af7d6611.35b0a8","type":"sqlitedb","z":"","db":"/home/osmc/node-red-static/temperature.sqlite","mode":"RWC"},{"id":"1cd79565.497dc3","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":""},{"id":"10e001a8.fa6c96","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humidity","name":"","usetls":false,"tls":""},{"id":"514e5d1d.c6eb84","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"heater","name":"","usetls":false,"tls":""},{"id":"6dbec0b8.af89a","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"afca15e8.2e29f8","type":"ui_tab","z":"","name":"Heat controller","icon":"dashboard"}]
